@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Lobster|Raleway');


body {
  background-color: white;
  margin: 0;
}

.jumbo {
  width: 100%;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/lake.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  width: 75%;
  height: 100px;
  background-image: url("../Images/logo.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border: 5px solid white;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

.quote {
  width: 100%;
  height: 600px;
  line-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #d5ffe0;
}

.paraQ {
  text-align: right;
}

.about {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../Images/river.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.aboutLogo {
  
  width: 35%;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: underline;
}

.aboutDesc {
  width: 100%;
  height: 600px;
  background: #d5ffe0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutDesc p {
  line-height: 200%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.projects {
  width: 100%;
  height: 500px;
  background-image: url('../Images/project-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vidContainer {
  width: 100%;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.proLogo {
  
  width: 35%;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: underline;
}

h4 {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  
  }

.proEx {
  width: 100%;
  height: 600px;
  background: #d5ffe0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proWrap {
  width: 75%;
  height: 600px;
}

.web, .games, .productivity {
  width: 100%;
  height: 50px;
  background: rgb(68, 68, 68);
  margin-top: 10%;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  'Josefin Sans', sans-serif;
  transition-duration: 0.3s;
}

.web:hover, .games:hover, .productivity:hover {
  background: cyan;
  color: black;
  cursor: pointer;
}

.websiteOptions {
  background: rgb(68, 68, 68);
  width: 100%;
  height: 50px;
  border-radius: 7px;
  display: none;
}

.gameOptions {
  background: rgb(68, 68, 68);
  width: 100%;
  height: 50px;
  border-radius: 7px;
  display: none;
}

.productivityOptions {
  background: rgb(68, 68, 68);
  width: 100%;
  height: 50px;
  border-radius: 7px;
  display: none;
}

.conLogo {
  
  width: 35%;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: underline;
}

.contactForm {
  width: 100%;
  height: 600px;
  background: #d5ffe0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 100%;
  height: 500px;
}

.conInfo {
  width: 30%;
  border: 1px solid black;
  padding: 25px;
  border-radius: 25px;
}

.message {
  color: red;
  margin-left: 23%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-family: Acme, sans-serif;
}

#fullName {
  text-align: center;
}

#email {
  text-align: center;
}

#comment {
  text-align: center;
}

textarea {
  height: 100px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  transition-duration: 0.4s;
}

input[type=text]:hover, input[type=email]:hover, textarea:hover {
  background: cyan;
}

#submit {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  padding: 8px 0;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.4s;
}

#submit:hover {
  background: cyan;
  color: black;
}

.foot {
  background: #171717;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.emailContact {
  font-size: 10px;
  letter-spacing: 9px;
  width: 25%;
  text-align: center;
  margin-top: 10em;
  color: grey;
  font-family: 'Josefin Sans', sans-serif;
}